---
---
/* These are variables the Cayman theme defines */

/* Headers */
$header-heading-color: #ffffff;
$header-bg-color: #fff6d5;
$header-bg-color-secondary: #2d2836;

/* Text */
$section-headings-color: #fdf0c2;
$body-text-color: #f9f9f9ff;
$body-link-color: #f0cc55;
$blockquote-text-color: #819198;

/* Code */
$code-bg-color: #f3f6fa;
$code-text-color: #567482;

/* Borders */
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;

$nav-text-color: #fff6d5;
$nav-active-color: #ffffff;
$nav-hover-color: lighten($nav-text-color, 50%);

@import url('https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700;900&family=Red+Hat+Display:wght@600&display=swap');

@import "{{ site.theme }}";

/* make content wider on maximized browser on large screens */
@media screen and (min-width: 1366px) {
    .main-content {
      max-width: 80rem;
    }
    .main-content table {
        width: 100%;
        display: table;
    }
  }

body {
    background: #221427;
    font-family: 'Red Hat Text', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Red Hat Display';
   text-shadow: 0 0 13px #eb1704;

}

#logo {
    max-width: 832px;
}

@media (max-width: 1024px) {
  #logo {
    max-width: 100%;
  }
}

#content img.responsive {
    height: auto;
    max-width: 100%;
}

img.speakerpic {
    float: right;
    width: 180px;
    margin: 1.65rem;
}

header.page-header {
    padding-bottom: 0;
    background-image: url(/assets/images/brickwall.jpg);
}

h2.project-tagline {
    margin: 0;
    padding: 1em;
}

// link colors
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

.wrapper {
    nav {
        background: rgba(69,41,80, 1.0);
        ul.nav-menu {
            margin: 0;
            text-align: center;
            padding: 0.3em;
            li {
                display: inline;
                list-decoration: none;
                font-size: 130%;
                font-weight: 600;
                margin: 0 0.5em 0 0.5em;
                #{$a-tags} {
                    color: $nav-text-color;
                    text-decoration: none;
		    text-transform: uppercase;
                }
                #{$a-tags-hover} {
                    color: $nav-hover-color;
                }
	        }
    	    li.active {
	    	    #{$a-tags} {
                    color: $nav-active-color;
                }
            }
        }
    }
}

.youtubeplayer {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  }
.youtube-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

footer {
    text-align: center;
    #{$a-tags} {
	color: $body-link-color;
	text-decoration: none;
    }
    #{$a-tags-hover} {
	color: lighten($body-link-color, 50%);
    }
    img#twitter {
	width: 2.9em;
	vertical-align: middle;
    }
}
